.App {
  font-family: sans-serif;
  text-align: center;
}
img {
  width: 300px;
  height: 300px;
}
.header {
  background-color: gray;
  color: black;
}

body {
  background-color: black;
  color: white;
}
